<head>
 {% block head %}
  <title>RMS</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
	<link rel="icon" href="{{ url_for('static', filename='icon.gif') }}">
   
 {% endblock %}
 

</head>



  <h3>Provide new password</h3>
	
	
		
		<form action="/admin/update/password/{{userid}}" method="POST">
				
			<input type='password' name='password'>
			<input type = "submit" value = "Submit" />
		</form>


	
