{% extends "home.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}


  <h1>Administrate Users</h1>
	
		{% if users %}
			<table id="members">
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Username</th>
					<th>Password</th>
					<th>Tracker Key</th>
					<th>Role</th>
					<th>Status</th>
					<th>Action</th>
				</tr>
		
				{% for user in users %}
				<tr>
					<td>{{user.id}}</td>
					<td>{{user.name}}</td>
					<td>{{user.username}}</td>
					<td><a href="#" onclick='javascript:window.open("/admin/update/password/{{user.id}}", "_blank", "scrollbars=yes, width=300,height=40");'>Update Password</a></td>
					<td>{{user.trackerkey}}</td>
					<td>{{user.role}}</td>
					<td>{{user.status}}</td>

					<td>
						<a href="{{url_for('update_user', userid=user.id)}}">Update</a>
					</td>
				</tr>
				{% endfor %}
			</table>
			
			<p id="passwordUpdate"></p>
		{% else %}
			There are no users
		{% endif %}
	
{% endblock %}