{% extends "home.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}

<script>
	function editApplication(appid){
		alert(appid)
	}

</script>


  <h1>Add a new application</h1>
	<p class="important">
	<form action='{{url_for("addNewApplication")}}' method='POST'>
			<table width='100%'>
			<tr>
				<td><label>SAP IP #: </label></td><td><input type='number' name='sap_id' id='sap_id'></td>
				<td><label>Experience:</label></td><td><input type='text' name='experience' id='experience'></td>
				<td><label>Sub-Experience:</label></td><td><input type='text' name='sub_experience' id='sub_experience'></td>
				<td><label>Name:</label></td><td><input type='text' name='name' id='name'></td>
			</tr>
			</table>
				<input type='submit' value='Submit'>
	</form>
	</p>
	
  <h1>Applications</h1>
	{% if message %}
	<p>{{message}}</b>
	{% endif %}
  
	<p class="important">
	
		<table width='100%'>
			<tr>
				<th><label>SAP IP #</label></th>
				<th><label>Experience</label></th>
				<th><label>Sub-Experience</label></th>
				<th><label>Name</label></th>
				<th><label>Project Action</label></th>
				<th><label>App Action</label></th>
				<th><label>App Action</label></th>
			</tr>
			<tr>
				<th>  </th>
				<th>  </th>
				<th>  </th>
				<th>  </th>
				<th>  </th>
				<th></th>
				<th></th>
			</tr>
			{% for application in applications:%}
			<tr>
				<td>{{application.sap_id}}</td>
				<td>{{application.experience}}</td>
				<td>{{application.subexperience}}</td>
				<td>{{application.name}}</td>
				<td>
					<a href='/addNewProject/appid/{{application.id}}'>Create Project</a>
				</td>
				<td>
					<a href='#' onclick='editApplication("{{application.id}}")'>Edit App</a>				
				</td>
				<td>
					<a href='/delApp/appid/{{application.id}}'>Delete App</a>					
				</td>
				
			</tr>
			{% endfor %}
			
		</table>
			
	
	</p>	
	
	
{% endblock %}
