
<head>
 {% block head %}
  <title>RMS</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
	<link rel="icon" href="{{ url_for('static', filename='icon.gif') }}">
   
 {% endblock %}
 

</head>

	<h1>{{defect.name}}</h1>
	
	<table width="100%">
	<tr>
	
	<td width="50%">
		<pre><label>Risk:      </label>{{defect.risk}}</pre>
		<pre><label>Source:    </label>{{defect.source}}</pre>		
		<pre><label>CWE:       </label>{{defect.cwe}}</pre>			
		{% if defect.source=='Manual' or defect.source=='DAST' %}
		<pre><label>URL:       </label>{{defect.url}}</pre>
		<pre><label>Parameter: </label>{{defect.parameter}}</pre>
		<pre><label>Payload:   </label>{{defect.payload}}</pre>
		{% endif %}
		
		{% if defect.source=='Code' or defect.source=='Fortify' %}
		<pre><label>GitHub:    </label>{{defect.github}}</pre>
		<pre><label>FileName:  </label>{{defect.filename}}</pre>
		<pre><label>Line #:    </label>{{defect.line}}</pre>
		<pre><label>Tagged:    </label>{{defect.taggedFortify}}</pre>
		{% endif %}
	</td>
	
	<td width="50%">
		<label>Worst Case:</label>
		<pre>{{defect.wostcase}}</pre>
		
		<label>Steps:</label>
		<pre>{{defect.steps}}</pre>
		
		<label>Fix Advice:</label>
		<pre>{{defect.recommendation}}</pre>		
	</td>
	</tr>
	</table>
	

