
<head>
 {% block head %}
  <title>RMS</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
	<link rel="icon" href="{{ url_for('static', filename='icon.gif') }}">
   
 {% endblock %}
 

</head>

	<h1>{{defect.name}}</h1>
	
	<form action="/project_manage_defects/projectid/{{projectid}}/edit/{{defect.id}}" method="POST">
		<table width="100%">
		<tr>
		
		<td width="50%">
			<pre><label>Risk:      </label><select name="risk"><option value="{{defect.risk}}">{{defect.risk}}</option><option value="Critical">Critical</option><option value="High">High</option><option value="Medium">Medium</option><option value="Low">Low</option><option value="Informational">Informational</option></select></pre>
			<pre><label>Source:    </label><input type="text" name="source" value="{{defect.source}}"></pre>				
			{% if defect.source=='Manual' or defect.source=='DAST' %}
			<pre><label>URL:       </label><input type="text" name="url" value="{{defect.url}}"></pre>
			<pre><label>Parameter: </label><input type="text" name="parameter" value="{{defect.parameter}}"></pre>
			<pre><label>Payload:   </label><input type="text" name="payload" value="{{defect.payload}}"></pre>
			{% endif %}
			
			{% if defect.source=='Code' or defect.source=='Fortify' %}
			<pre><label>GitHub:    </label><input type="text" name="github" value="{{defect.github}}"></pre>
			<pre><label>FileName:  </label><input type="text" name="filename" value="{{defect.filename}}"></pre>
			<pre><label>Line #:    </label><input type="number" name="line" value="{{defect.line}}"></pre>
			<pre><label>Tagged:    </label><select name="taggedFortify"><option value="{{defect.taggedFortify}}">{{defect.taggedFortify}}</option></select></pre>
			{% endif %}
			<br>
			<input type="Submit" value="Submit">
		</td>
		
		<td width="50%">
			<label>Code/Worst Scenario:</label>
			<pre><textarea name="wostcase">{{defect.wostcase}}</textarea></pre>
			
			<label>Steps:</label>
			<pre><textarea name="steps">{{defect.steps}}</textarea></pre>
			
			<label>Fix Advice:</label>
			<pre><textarea name="recommendation">{{defect.recommendation}}</textarea></pre>		
		</td>
		</tr>
		</table>
	</form>
	

