
 {% block head %}
  <title>RMS</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
	<link rel="icon" href="{{ url_for('static', filename='icon.gif') }}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
   
 {% endblock %}

<script>
function deleteRow(defectid, tblName, targetLink, fproject)
{	
	var tableRow = targetLink.parentNode.parentNode;
	var tbl = tableRow.parentNode;
	tbl.removeChild(tableRow);
	test(defectid, fproject);
}

function test(defectid, fproject){
	ajaxCall("/addSelected_FortifyDefect/projectid/"+{{projectid}}+"/defectid/"+defectid+"/fproject/"+fproject+"","feedback");
}

function ajaxCall(url, element) {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      document.getElementById(element).innerHTML = this.responseText;
    }
  };
  xhttp.open("GET", url, true);
  xhttp.send();
}

function verifycwe(){
  var x = document.getElementById("cwe");
  url='/project_add_defect/verifycwe/'+x.value.toString();
  ajaxCall(url,'cweTitle')
}
</script>
	
<p id='feedback'></p>

<h2>Error in the process</h2>
{% for project in fprojects: %}
	<li><b>{{project}}</b></li>
{% endfor %}
<h3>Recommendations:</h3>
<ol>
<li>Verify the name of the application(s).</li>
<li>Make sure that the applications are active in Fortify.</li>
<li>User comma separated values to provide the list of fortify projects.</li>
<li>Contact Alfonso Barrera MAB0217 for troubleshooting your issue :(</li>
</ol>
