<!--Author: Alfonso Barrera MAB0217 -->
<!--This application is created, maintained and managed by Alfonso Barrera MAB0217. Please contact in case of any problems. -->

<!DOCTYPE html>
<html lang="en">

<head>
 {% block head %}
  <title>RMS</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
	<link rel="icon" href="{{ url_for('static', filename='icon.gif') }}">
   
 {% endblock %}
 

</head>

{% block body %}
<body>

<table width="100%" >
	<tr>
		<th bgcolor="#17202A" width="30%">
			<h1><font color="#D35400">RMS</font></h1>
		</th>
		<th bgcolor="#17202A">
		</th>
	</tr>	
</table>

{% if session['logged_in'] %}

<div class="scrollmenu">
	<a href="{{url_for('logout')}}" style="color:#01DFD7"><b>Logout</b></a>
	<a href="{{url_for('applications')}}">Applications</a>
	<a href="{{url_for('projects')}}">Projects</a>
	<a href='javascript:window.open("/exploreCWEs", "_blank", "scrollbars=yes, width=1000,height=500");'>Explore CWE</a>

	<a href="{{url_for('update_profile', userid=session['userid'])}}"><font color="#FFCF0E">{{session['name']}} - {{session['role']}} - {{session['status']}}</font></a>
</div>


{% endif %}


<div id="content">{% block content %}{% endblock %}</div>

<div id="footer">
      {% block footer %}
      By <a href="mailto:alfonso@xoxthebeat.com?subject=RMS:%20Request">xoxTheBeat</a>
      {% endblock %}
</div>

</body>
{% endblock %}
</html>
