{% extends "home.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
{% autoescape false %}


  <h3>[+] Update Profile</h3>
	
		{% if user %}
		
		<form action="{{url_for('update_profile', userid=user.id)}}" method="POST">
			<table id="members">

				<tr>				
					<th>First Name</th><td><input type="text" name="fname" value="{{user.fname}}" required></input></td>
				</tr>
				<tr>				
					<th>Last Name</th><td><input type="text" name="lname" value="{{user.lname}}" required></input></td>
				</tr>
				<tr>					
					<th>Username</th><td><input type="text" name="username" value="{{user.username}}" required></input></td>
				</tr>
				<tr>					
					<th>Password</th><td><input type="text" name="password" placeholder="**********" required></input></td>
				</tr>
				<tr>					
					<th>Tracker Key</th><td><input type="text" name="trackerkey" value="{{user.trackerkey}}" required></input></td>
				</tr>
			</table>
			<input type = "submit" value = "Submit" />
		</form>

			
		{% else %}
			User does not exist.
		{% endif %}
{% endautoescape %}	
{% endblock %}