
 {% block head %}
  <title>RMS</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
	<link rel="icon" href="{{ url_for('static', filename='icon.gif') }}">
   
 {% endblock %}


	
	<h2>Follow these rules:</h2>
	<li>Use comma separated fortify project names</li>
	<li>Do not include versions</li>
	<li>Respect lower and uppercase characters</li>
	<li>Example: CustoRec_project1, CustoRec_project2</li>
	<br>
	<label><b>Projects:</b></label>
	<br>
	
	<form action='/preselectFortifyDefects/projectid/{{projectid}}' method='POST'>
		<textarea name="fprojects" id="fprojects">{{fprojects}}</textarea>
		<br>
	<input type="submit" value="Submit">

	</form>
