
 {% block head %}
  <title>RMS</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
	<link rel="icon" href="{{ url_for('static', filename='icon.gif') }}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
   
 {% endblock %}

<script>
function deleteRow(defectid, tblName, targetLink, fproject)
{	
	var tableRow = targetLink.parentNode.parentNode;
	var tbl = tableRow.parentNode;
	tbl.removeChild(tableRow);
	test(defectid, fproject);
}

function test(defectid, fproject){
	ajaxCall("/addSelected_FortifyDefect/projectid/"+{{projectid}}+"/defectid/"+defectid+"/fproject/"+fproject+"","feedback");
}

function ajaxCall(url, element) {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      document.getElementById(element).innerHTML = this.responseText;
    }
  };
  xhttp.open("GET", url, true);
  xhttp.send();
}

function verifycwe(){
  var x = document.getElementById("cwe");
  url='/project_add_defect/verifycwe/'+x.value.toString();
  ajaxCall(url,'cweTitle')
}
</script>
	
<p id='feedback'></p>

<h2>Report Manager System</h2>

<h3>Terms & Privacy</h3>
<ol>
<li>The RMS application is not a production tool and does not have full time support.</li>
<li>The RMS application should not be used to contain sensitive or critical data.</li>
<li>The RMS application is hosted in a ephemeral server and does not use any production nor PII information.</li>
<li>The RMS application was created as an effort to automate the reporting process in the software security testing process.</li>
<li>The author of the application will not be responsible of any loss of data while interacting with the tool.</li>
</ol>

<div id="footer">
      {% block footer %}
      By <a href="mailto:alfonso@xoxthebeat.com?subject=RMS:%20Request">xoxTheBeat</a>
      {% endblock %}
</div>
